.website-picker {
    background-color: var(--bg-soft);
    border: 2px solid var(--border-main);
    border-radius: 0.75rem;
    padding: 1.5rem;
    max-width: 420px;
    margin: auto;
}

.website-picker h4 {
    margin-bottom: 1rem;
    font-weight: 500;
    align-self: center;
    justify-content: center;
    text-align: center;
}

.website-options {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin: auto;
    align-items: center;
    justify-content: center;
}