<header class="main-header">
    <div class="logo" data-translate-key="header-title"></div>

    <nav class="nav-links">
        <a href="index.html" data-translate-key="home"></a>
        <a href="index.html#tests" data-translate-key="tests"></a>
        <a href="create-test.html" data-translate-key="create_test"></a>
    </nav>

    <div class="account-box">
        <button id="login-btn" data-translate-key="authenticate"></button>
        <button id="my-account-btn" data-translate-key="my-account"></button>
        <button id="log-out" data-translate-key="log-out"></button>
    </div>
</header>